<!DOCTYPE html>
<html>
<head>
	<!--link rel="stylesheet" type="text/css" href="./reset.css">
	<link rel="stylesheet" type="text/css" href="./fuentes.css">
	<link rel="stylesheet" type="text/css" href="volartech.css"-->
	<link rel="stylesheet" type="text/css" href="quienes-somos.css">
	<title>Volartech</title>
</head>
<body style="margin: 0px">
<!-- CODE START -->

<div>
 	<div class="background-who-we-are">
 		<div>
 			<div class="contenedor-navbar-inside">
	 			<div class="navbar-volartech-inside">
	 				<div></div>
	 				<div class="logo-navbar-volartech-inside"></div>
	 				<div class="contenedor-textos-navb-inside">
	 					<p class="text-navbar-volartech-inside">Quienes Somos</p>
	 				</div>
	 				<div class="contenedor-textos-navb-inside">
	 					<p class="text-navbar-volartech-inside">Produccion</p>
	 				</div>
	 				<div class="contenedor-textos-navb-inside">
	 					<p class="text-navbar-volartech-inside">Construccion</p>
	 				</div>
	 				<div class="contenedor-textos-navb-inside">
	 					<p class="text-navbar-volartech-inside">Ingenieria</p>
	 				</div>
	 				<div class="boton-contact-v-inside">
	 					<p class="text-navbar-volartech-inside">Contacto</p>
	 				</div>
	 			</div>
 			</div>
 			<div class="fondo-who-we-are">
 				<div>
 					<div>
 						<p class="text-title-who-we-are">Quienes Somos</p>
 					</div>
 					<div class="quienes-somos-div-text"></div>
 					<div>
 						<p class="text-quienes-somos-descrip">Empresa conformada por profesionales altamente capacitados con amplia experiencia en la dirección de proyectos de diferente índole y especialmente aquellos vinculados a los servicios de topografia lidar, realidad virtual, fotografia y video terrestre y aéreo puesta al servicio de la ingenieria  y construcción. Además incursionamos en la producción de medios audiovisuales, área en la cual sobresalimos por la innovación y la tecnología utilizada.</p>
 					</div>
 				</div>
 			</div>
 			<div class="segundo-fondo-w-w-a">
 				
 			</div>
 			<div class="tercer-fondo-w-w-a">
 				<div class="contenedor-texto-imagen-tercero">
 					<div class="imagen-w-w-a-tercero"></div>
 				</div>
 			</div>
 			<div class="cuarto-fondo-w-w-a">
 				
 			</div>
 		</div>
 	</div>
</div>
<!-- CODE END -->
</body>
</html>