.slider{
	width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	height: 212px;
    margin-bottom: 124px;
}

.slider .slider_btn_left{
	width: 100px;
	/*background-color: rgba(255,0,0,0.3);*/
	background-image: url(../img/icos/back.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 40px 40px;
	cursor: pointer;
}

.slider .slider_btn_right{
	width: 50px;
	/*background-color: rgba(255,0,0,0.3);*/
	background-image: url(../img/icos/back.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 40px 40px;
	transform: rotate(180deg);
	cursor: pointer;
}

.slider .slider_btn_left{
	width: 50px;
}

.slider .slider_container{
	/*width: 900px;*/
}

.slider .slider_container{
	position: relative;
	overflow: hidden;
}

.slider .slider_scrollable{
	position: absolute;
	width: 100%;
	transition: 1s;
}

.slider .slide{
	height: 331px;
	/*width: 33%;*/
	display: inline-block;
	background-repeat: no-repeat;
	background-size: contain;
}
/***Estilos slider responsive***/
@media(min-width: 320px) and (max-width: 450px){
	.slider{
		width: 280px;
	}
	.slider .slider_container{
		margin-left: 8px;
		margin-right: 8px;
	}
	.slider .slider_btn_left{
   		background-size: 20px 20px;
	}
	.slider .slider_btn_right{
		background-size: 20px 20px;
	}
}