<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="./reset.css">
	<link rel="stylesheet" type="text/css" href="./fuentes.css">
	<link rel="stylesheet" type="text/css" href="./volartech.css">
	<title>Volartech</title>
</head>
<body style="margin: 0px">
<!-- CODE START -->

<div>
 	<div class="background-inicio-page-cons">
 		<div class="background-inicio-imagen">
 			<div class="contenedor-navbar">
	 			<div class="navbar-volartech">
	 				<div></div>
	 				<div class="logo-navbar-volartech"></div>
	 				<div class="contenedor-textos-navb">
	 					<p class="text-navbar-volartech">Quienes Somos</p>
	 				</div>
	 				<div class="contenedor-textos-navb">
	 					<p class="text-navbar-volartech">Produccion</p>
	 				</div>
	 				<div class="contenedor-textos-navb">
	 					<p class="text-navbar-volartech">Construccion</p>
	 				</div>
	 				<div class="contenedor-textos-navb">
	 					<p class="text-navbar-volartech">Ingenieria</p>
	 				</div>
	 				<div class="boton-contact-v">
	 					<p class="text-navbar-volartech">Contacto</p>
	 				</div>
	 			</div>
 			</div>
 			<div class="content-textos-play">
 				<div class="contentedor-texto-ingenieria">
 					<p class="volartech-title">CONSTRUCCIÓN</p>
 					<p class="volartech-sub-title2-prod">Siga paso a paso sus proyectos.</p>
 					<p class="volartech-description-ing">Fotografía y vídeo aéreo, time-lapse y realidad virtual enfocada a la construcción, infraestructura y arquitectura a nivel nacional e internacional. Gestione de forma innovadora su empresa.</p>
 					<div class="content-play">
 						<a href="#" target="_blank">
 							<div class="boton-construccion-page"> 
 								<p class="text-ver-mas">Ver más</p>
 							</div>
 						</a>
 						
 					</div>
 				</div>
 				<div class="contenedor-circulos">
 					<div class="circulo-cambio"></div>
 					<div class="circulo-cambio active2"></div>
 					<div class="circulo-cambio"></div>
 					<div class="circulo-cambio"></div>
 				</div>
 			</div>
 		</div>
 	</div>
</div>
<!-- CODE END -->
</body>
</html>