<!DOCTYPE html>
<html>
<head>
	<!--link rel="stylesheet" type="text/css" href="./reset.css">
	<link rel="stylesheet" type="text/css" href="./fuentes.css"-->
	<link rel="stylesheet" type="text/css" href="volartech.css">
	<title>Volartech</title>
</head>
<body style="margin: 0px">
<!-- CODE START -->

<div>
 	<div class="background-inicio-page">
 		<div class="background-inicio-imagen">
 			<div class="contenedor-navbar">
	 			<div class="navbar-volartech">
	 				<div></div>
	 				<div class="logo-navbar-volartech"></div>
	 				<div class="contenedor-textos-navb">
	 					<p class="text-navbar-volartech">Quienes Somos</p>
	 				</div>
	 				<div class="contenedor-textos-navb">
	 					<p class="text-navbar-volartech">Produccion</p>
	 				</div>
	 				<div class="contenedor-textos-navb">
	 					<p class="text-navbar-volartech">Construccion</p>
	 				</div>
	 				<div class="contenedor-textos-navb">
	 					<p class="text-navbar-volartech">Ingenieria</p>
	 				</div>
	 				<div class="boton-contact-v">
	 					<p class="text-navbar-volartech">Contacto</p>
	 				</div>
	 			</div>
 			</div>
 			<div class="content-textos-play">
 				<div class="contentedor-texto-perspectiva">
 					<p class="volartech-title">Conoce el mundo</p>
 					<p class="volartech-sub-title1">desde otra</p>
 					<p class="volartech-sub-title1">perspectiva</p>
 					<p class="volartech-sub-title2">Nosotros te lo mostramos!</p>
 					<div class="content-play">
 						<a href="https://www.youtube.com/watch?v=EUzyY2Z5fCs" target="_blank">
 							<div class="icono-play-volartech"> </div>
 						</a>
 						<p class="text-play">Play Video</p>
 					</div>
 				</div>
 				<div class="contenedor-circulos">
 					<div class="circulo-cambio active"></div>
 					<div class="circulo-cambio"></div>
 					<div class="circulo-cambio"></div>
 					<div class="circulo-cambio"></div>
 				</div>
 			</div>
 		</div>
 	</div>
</div>
<!-- CODE END -->
</body>
</html>