<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="./reset.css">
	<link rel="stylesheet" type="text/css" href="./fuentes.css">
	<link rel="stylesheet" type="text/css" href="./volartech.css">
	<title>Volartech</title>
</head>
<body style="margin: 0px">
<!-- CODE START -->

<div>
 	<div class="background-inicio-page-ing">
 		<div class="background-inicio-imagen">
 			<div class="contenedor-navbar">
	 			<div class="navbar-volartech">
	 				<div></div>
	 				<div class="logo-navbar-volartech"></div>
	 				<div class="contenedor-textos-navb">
	 					<p class="text-navbar-volartech">Quienes Somos</p>
	 				</div>
	 				<div class="contenedor-textos-navb">
	 					<p class="text-navbar-volartech">Produccion</p>
	 				</div>
	 				<div class="contenedor-textos-navb">
	 					<p class="text-navbar-volartech">Construccion</p>
	 				</div>
	 				<div class="contenedor-textos-navb">
	 					<p class="text-navbar-volartech">Ingenieria</p>
	 				</div>
	 				<div class="boton-contact-v">
	 					<p class="text-navbar-volartech">Contacto</p>
	 				</div>
	 			</div>
 			</div>
 			<div class="content-textos-play">
 				<div class="contentedor-texto-ingenieria">
 					<p class="volartech-title">Ingeniería</p>
 					<p class="volartech-sub-title2-prod">Líderes en adquisición y procesamiento de datos.</p>
 					<p class="volartech-description-ing">A través de nuestros equipos de última tecnología proporcionamos datos de alta calidad y factibles, que ayudan a aumentar la eficiencia y la toma de decisiones de su empresa. </p>
 					<div class="content-play">
 						<a href="#" target="_blank">
 							<div class="boton-ingenieria-page"> 
 								<p class="text-ver-mas">Ver más</p>
 							</div>
 						</a>
 						
 					</div>
 				</div>
 				<div class="contenedor-circulos">
 					<div class="circulo-cambio"></div>
 					<div class="circulo-cambio"></div>
 					<div class="circulo-cambio"></div>
 					<div class="circulo-cambio active4"></div>
 				</div>
 			</div>
 		</div>
 	</div>
</div>
<!-- CODE END -->
</body>
</html>