.background-ingenieria{
	width: 100%;
    height: 100%;
    position: absolute;
}
.first-fond-ingenieria{
	width: 100%;
	/* height: 272px; */
	background-color: #FFFFFF;
	background-image: url(../../img/fondos/textura-ingenieria.png);
	background-size: cover;
	background-position: right;
	background-repeat: no-repeat;
	/*background-size: cover;*/
}
.content-text-dron-ing{
	display: flex;
	max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.text-title-ing{
	font-size: 46px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	margin: 0px;
	color: #EDA532;
	text-transform: uppercase;
}
.sub-title-ing{
	font-size: 24px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
	color: #000000;
}
.imagen-dron-ing{
	/* width: 620px; */
	/* width: 100%;
	padding-bottom: 80%; */
	background: url(../../img/icos/dron-ing.png) no-repeat center;
	position: relative;
	background-size: cover;
	margin-bottom: -10rem;
}
@media (max-width: 600px) {
	.imagen-dron-ing{
		margin-bottom: 0rem;
	}
}
.second-fond-ingenieria{
	width: 100%;
	/* height: 200px; */
	background-color: #EDA532;
}
.third-fond-ingenieria{
	width: 100%;
	/* height: 474px; */
	/* background: url(../../img/fondos/tercer-fondo-ing.png) no-repeat; */
	background-color: #0F0F0F;
	background-size: cover;
}
.fourth-fond-ingenieria{
	width: 100%;
	height: 448px;
	background: url(../../img/fondos/cuarto-fondo-ing.png) no-repeat;
	background-size: cover;
}
.fifth-fond-ingenieria{
	width: 100%;
	/* height: 430px; */
	/* background: url(../../img/fondos/quinto-fondo-ing.png) no-repeat; */
	background-size: cover;
	background-color: #0F0F0F;
	position: absolute;
}
.img-droncito{
	/* width: 100%;
	padding-bottom: 60%;
	margin-top: 25%; */
	background: url(../../img/fondos/lidar-img.png) no-repeat center;
	background-size: cover;
}
.content-text-dron-ingenieria{
	display: flex;
	max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 62px; */
}
.division-primeros-textos-ing{
	width: 50px;
	height: 2px;
	background-color: #EDA532;
}
.linea-larga-ing{
	width: 100%;
	height: 5px;
	background-color: #EDA532;
}
.text-title-ingenieria{
	font-size: 30px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600;
	margin: 0px;
	color: #FFFFFF;
}
.subtitle-text-ing{
	font-size: 30px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600;
	margin: 0px;
	color: #FFFFFF;
}
.text-info-ing{
	font-size: 15px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
	color: #FFFFFF;
}
.img-droncito-2{
	background: url(../../img/icos/droncito-dos.png) no-repeat;
	position: relative;
    background-size: contain;
}
.content-texto-up{
    margin-left: auto;
    margin-right: auto;
    height: 84px;
    margin-top: 163px;
}
.contenedor-title-ingenieria{
	text-align: right;
}
.conetenedor-subtitulos{
	text-align: right;
}
.content-info-ing{
	text-align: right;
}
.third-fond-ingenieria .division-primeros-textos-ing{
	margin-left: auto;
	margin-bottom: 24px;
}
.fourth-fond-ingenieria .contenedor-title-ingenieria{
	text-align: left;
	margin-bottom: 32px;
}
.fourth-fond-ingenieria .conetenedor-subtitulos{
	text-align: left;
	margin-bottom: 34px;
}
.fourth-fond-ingenieria .content-info-ing{
	/* width: 428px; */
	text-align: left;
}
.fourth-fond-ingenieria .text-info-ing{
	font-size: 17px;
}
.fourth-fond-ingenieria .content-text-dron-ingenieria{
	max-width: 1200px;
	/* padding-top: 159px; */
	position: absolute;
    z-index: 300000000000000000;
}
.fifth-fond-ingenieria .division-primeros-textos-ing{
	margin-left: auto;
	margin-bottom: 35px;
}
.third-fond-ingenieria .contenedor-title-ingenieria{
	/* margin-top: 76px;
	margin-bottom: 33px; */
}
.fourth-fond-ingenieria .division-primeros-textos-ing{
	margin-bottom: 25px;
}
.fifth-fond-ingenieria .content-text-dron-ingenieria{
	/* padding-top: 74px; */
}
.fifth-fond-ingenieria .contenedor-title-ingenieria{
	margin: 2rem 0;
}
.background-ing-white{
	width: 100%;
	/* height: 950px; */
	background-color: #FFFFFF;
}
.content-text-nuestrotrabajo-ing{
    margin-top: 61px;
    margin-bottom: 30px;
}
.text-nuestro-trabajo-ing{
	font-size: 29px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
	color: #0F0F0F;
	justify-content: center;
	display: flex;
}
.content-text-muestras-trabajo-ing{
	margin-bottom: 54px;
}
.text-muestras-trabajo-ing{
	font-size: 17px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
	color: #95989A;
	justify-content: center;
	display: flex;
	text-align: center;
	/* width: 556px; */
    /* margin-left: auto;
    margin-right: auto; */
}
.content-img-ing{
	display: flex;
	margin-bottom: 36px;
	justify-content: center;
	overflow: hidden;
	height: 249px;
}
/*.content-1-img{
	margin-left: auto;
}
.content-2-img{
	margin-right: auto;
}*/
.img-1{
	background: url(../../img/fondos/fondo-carro.png) no-repeat;
	/* margin-right: 26px; */
	background-size: contain;
}
.img-2{
	width: 363px;
    height: 300px;
	background: url(../../img/fondos/fondo-colorido.png) no-repeat;
	margin-right: 26px;
	background-size: contain;
}
.img-3{
	width: 363px;
    height: 300px;
	background: url(../../img/fondos/fondo-electronico.png) no-repeat;
	margin-right: 26px;
	background-size: contain;
}
.text-fecha-img{
	font-size: 14px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
	color: #D1D1D1;
}
.contenedor-interes-boton-contacto-ing{
	background: url(../../img/fondos/ingenieria_contact.png) no-repeat;
	background-size: cover;
	border-top: 1px solid rgba(149, 152, 154, 0.15);
	min-height: 14rem;
}
.content-info-interes-ing{
	/* width: 646px; */
	margin-right: 69px;
}
.text-te-interesa-ing{
	font-size: 29px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	margin: 0px;
	color: #0F0F0F;
}
.text-text-interes-ing{
	font-size: 17px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
	color: #95989A;
}
.boton-cotizacion-ing{
	width: 401px;
	height: 46px;
	background-color: #EDA532;
	border-radius: 4px;
	display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
    cursor: pointer;
}
.text-boton-cotizacion-ing{
	font-size: 16px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
	color: #FFFFFF;
}
.content-mail-call-ing{
	display: flex;
}
.boton-mail-ing{
	background-color: #fff;
	border: 1px solid #000000;
	border-radius: 4px;
	/* width: 190px; */
	height: 53px;
	margin-right: 17px;
	align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.text-mail-boton-ing{
	font-size: 16px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
	color: #000000;
}
.text-mail-mail-ing{
	font-size: 10px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
	color: #B1B1B1;
}
.boton-llamar-ing{
	background-color: #fff;
	border: 1px solid #000000;
	border-radius: 4px;
	/* width: 190px; */
	height: 53px;
	align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.text-llamar-boton-ing{
	font-size: 16px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
	color: #000000;
}
.text-llamar-llamar-ing{
	font-size: 10px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
	color: #B1B1B1;
}
/*.text-ver-mas-ing{
	font-size: 20px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
	color: #EDA532;
}
.contenedor-ver-mas-ing{
	border-bottom: 1px solid #EDA532;
	width: 72px;
	margin-left: auto;
	cursor: pointer;
}
.big-content-ver-ing{
	width: 1119px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 119px;
}*/
@media(max-width: 600px) {
	.size-responsive-content.container-third {
		max-width: none;
		width: auto;
	}
	.contenedor-interes-boton-contacto-ing{
		width: 300px !important;
		margin-left: auto;
		margin-right: auto
	}
	.boton-cotizacion-ing{
		width: 100%;
	}
	.conten-texto-up{
		width: 288px;
	    margin-left: auto;
	    margin-right: auto;
	    padding: 0px;
	}
	.text-title-ing{
		font-size: 40px;
	}
	.sub-title-ing{
		font-size: 20px;
	}
}
/*** Estilos Responsive ingenieria ***/
@media(min-width: 20px) and (max-width: 100px){
	.background-ingenieria{
		overflow-x: hidden;
	}
	.first-fond-ingenieria{
	    /* height: 446px; */
    	margin-left: auto;
    	margin-right: auto;
	}
	.content-text-dron-ing{
	    /* width: 320px; */
	    /* display: block; */
			/*height: 100%;*/
			display: flex;
			max-width: 1200px;
	}
	.content-texto-up{
	    width: 289px;
	    margin-left: auto;
	    margin-right: auto;
	    height: initial;
	    margin-top: 0px;
	    padding-top: 53px;
	}
	.imagen-dron-ing{
		width: 100%;
		padding-bottom: 60%;
		margin-top: 25%;
	}
	.text-descripcion-produccion{
		font-size: 16px;
	    width: 278px;
	    margin-left: auto;
	    margin-right: auto;
	}
	.second-fond-ingenieria{
		/* height: 232px; */
	}
	.content-text-descripcion{
		width: 100%;
	}
	.content-text-dron-ingenieria{
		width: 100%;
		display: block;
	}
	.img-droncito{
	    /* width: 320px;
    	height: 188px; */
    	/* left: 0px;
    	background-position-x: initial;
    	margin-left: auto;
    	margin-right: auto;  */
	}
	.contenedor-title-ingenieria{
		/* width: 290px; */
	    /* margin-left: auto;
	    margin-right: auto; */
	}
	.text-title-ingenieria{
		font-size: 26px;
	}
	.third-fond-ingenieria .contenedor-title-ingenieria{
		margin-top: 0px;
		margin-bottom: 13px;
	}
	.size-responsive-content{
		/* width: 290px; */
	    /* margin-left: auto;
	    margin-right: auto; */
	}
	.division-primeros-textos-ing{
		width: 40px;
	}
	.subtitle-text-ing{
		font-size: 21px;
	}
	.third-fond-ingenieria .division-primeros-textos-ing{
		margin-bottom: 13px;
	}
	.text-info-ing{
		font-size: 12px;
	}
	.conetenedor-subtitulos{
		margin-bottom: 10px;
	}
	.content-info-ing{
		line-height: 18px;
	}
	.third-fond-ingenieria{
		height: 491px;
	}
	.fourth-fond-ingenieria .content-text-dron-ingenieria{
		padding-top: 149px;
		width: 290px;
	}
	.fourth-fond-ingenieria .contenedor-title-ingenieria{
		margin-bottom: 15px;
	}
	.fourth-fond-ingenieria .division-primeros-textos-ing{
		margin-bottom: 15px;
	}
	.fourth-fond-ingenieria .conetenedor-subtitulos{
		margin-bottom: 16px;
	}
	.fourth-fond-ingenieria .content-info-ing{
		width: initial;
	}
	.img-droncito-2{
	    /* width: 330px;
    	height: 126px;
	    margin-left: auto;
    	margin-right: auto; */
	}
	.fifth-fond-ingenieria .contenedor-title-ingenieria{
		/* margin-top: 38px;
    	margin-bottom: 13px; */
	}
	.fifth-fond-ingenieria .division-primeros-textos-ing{
		margin-bottom: 17px;
	}
	.fifth-fond-ingenieria{
		/* height: 450px; */
	}
	.content-text-nuestrotrabajo-ing{
		margin-top: 0px;
	}
	.text-nuestro-trabajo-ing{
		font-size: 23px;
		margin-top: 50px;
	}
	.text-muestras-trabajo-ing{
		font-size: 14px;
		width: 290px;
	}
	.content-img-ing{
		display: block;
	}
	.img-1{
		width: 300px;
		height: 220px;
		margin-left: auto;
		margin-right: auto;
	}
	.text-fecha-img{
		font-size: 11px;
		width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
	.content-1-img{
		margin-bottom: 20px;
	}
	.img-2{
		width: 300px;
		height: 220px;
		margin-left: auto;
		margin-right: auto;
	}
	.img-3{
		width: 300px;
		height: 220px;
		margin-left: auto;
		margin-right: auto;
	}
	.content-2-img{
		margin-bottom: 20px;
	}
	.content-3-img{
		margin-bottom: 20px;
	}
	.big-content-ver-ing{
		width: 290px;
	    margin-bottom: 80px;
	}
	.contenedor-ver-mas-ing{
		width: 54px;
	}
	.text-ver-mas-ing{
		font-size: 15px;
	}
	.contenedor-interes-boton-contacto-ing{
		background: url(../../img/fondos/ingenieria_contact.png) no-repeat;
		background-size: cover;
		border-top: 1px solid rgba(149, 152, 154, 0.15);
		min-height: 14rem;
		
	}
	.content-info-interes-ing{
		width: 290px;
		margin-bottom: 20px;
	}
	.text-te-interesa-ing{
		font-size: 23px;
	}
	.text-text-interes-ing{
		font-size: 13px;
	}
	.boton-cotizacion-ing{
		width: 100%;
	}
	.content-mail-call-ing{
		display: block;
	}
	.boton-mail-ing{
		width: 100%;
		height: 40px;
		margin-bottom: 15px;
	}
	.boton-llamar-ing{
		width: 100%;
		height: 40px;
	}
	.background-ing-white{
		/* height: 1345px; */
	}
	.text-title-ing{
		font-size: 40px;
	}
}
.background-ingenieria .color-ver-mas{
	color: #EDA532;
	font-size: 15px;
}
.background-ingenieria .big-content-ver-const{
	width: 1174px;
}
.background-ingenieria .contenedor-ver-mas-cons{
	width: 56px;
	border-bottom: 1px solid #EDA532;
}
#ver-menos-ing{
	display: none;
}
.clase-extendida-ing{
	height: 620px;
}
#sub-line-vermenos{
	width: 73px;
}
.tamaño-video{
	width: 100%;
}
.contenedor-video{
	height: 440px;
}
@media (max-width: 900px) {
	.tamaño-video {
		display: none;
	}
}