.background-who-we-are{
	width: 100%;
    height: 100%;
    position: absolute;
}

.fondo-who-we-are{
	width: 100%;
	height: 384px;
	background: url(../../img/fondos/img-first-quienes-somos.png) no-repeat;
	background-size: cover;
}
.text-title-who-we-are{
	font-size: 46px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	margin: 0px;
	color: #FFFFFF;
	text-transform: uppercase;
	padding-top: 50px;
	margin-bottom: 48px;
}
.quienes-somos-div-text{
	width: 50px;
	height: 1px;
	background-color: rgba(255,255,255, 0.5);
}
.text-quienes-somos-descrip{
	font-size: 18px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
	color: #FFFFFF;
	width: 780px;
}
.segundo-fondo-w-w-a{
	width: 100%;
	height: 375px;
	background-color: #0F0F0F;
}
.tercer-fondo-w-w-a{
	width: 100%;
	height: 378px;
	background-color: #0F0F0F;
	background-size: cover;
}
.imagen-w-w-a-tercero{
    width: 688px;
    height: 419px;
	background: url(../../img/icos/imagen-dron.png) no-repeat;
	background-size: cover;
	margin-left: auto;
	/*margin-right: auto;*/
}
.contenedor-texto-imagen-tercero{
	display: flex;
}
.cuarto-fondo-w-w-a{
	width: 100%;
	height: 373px;
	background: url(../../img/fondos/cuarto-fondo-w-w-a.png) no-repeat;
	background-size: cover;
}
.content-descripcion-w-w-a{
	width: 926px;
    margin: 0px auto;
}
.contentedor-titulo{
    width: 936px;
    margin: 0px auto;
}
.content-div-line{
    width: 922px;
    margin: 0px auto;
    margin-bottom: 39px;
}
.icono-estadistica{
	width: 65px;
	height: 65px;
	background: url(../../img/icos/estadistica.png) no-repeat;
	margin-bottom: 19px;
}
.icono-sonido{
	width: 65px;
	height: 65px;
	background: url(../../img/icos/sonido.png) no-repeat;
	margin-bottom: 19px;
}
.icono-video{
	width: 65px;
	height: 65px;
	background: url(../../img/icos/video.png) no-repeat;
	margin-bottom: 19px;
}
.content-iconos-segundo-fond{
	display: flex;
	justify-content: center;
    width: 100%;
}
.div-line-icons{
	width: 50px;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.2);
	margin-bottom: 22px;
}
.texto-icono{
	font-size: 26px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	margin: 0px;
	color: #FFFFFF;
	margin-bottom: 33px;
}
.texto-icono-2{
	font-size: 17px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
	color: #FFFFFF;
	width: 364px;
	text-align: center;
}
.centrar-contenido-iconos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 69px;
}
.otro-margen-left{
	margin-left: auto;
}
.otro-margen-right{
	margin-right: auto;
}
.div-text-line-third{
	width: 50px;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.2);
	margin-left: auto;
	margin-bottom: 44px;
}
.text-third-fond{
	font-size: 30px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 800;
	margin: 0px;
	color: #FFFFFF;
	text-align: right;
	margin-bottom: 37px;
}
.text-descripcion-tercero{
	font-size: 17px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
	color: #FFFFFF;
	text-align: right;
	width: 357px;
}
.contenedor-texto-third{
	margin-right: auto;
	margin-top: 99px;
}
.div-text-line-fourth{
	width: 50px;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.2);
	margin-left: auto;
	margin-bottom: 44px;
}
.text-ideales{
	font-size: 30px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 800;
	margin: 0px;
	color: #FFFFFF;
	text-align: right;
	margin-bottom: 37px;
}
.text-descripcion-cuarto{
	font-size: 14.5px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
	color: #FFFFFF;
	text-align: right;
	/*width: 357px;*/
}
.contenedor-info-ideales{
	width: 611px;
    margin-left: auto;
    margin-right: 105px;
    padding-top: 101px;
}
.quinto-fondo-w-w-a{
	width: 100%;
	height: 1095px;
	background-color: #FFFFFF;
}
.texto-clientes{
	font-size: 29px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	margin: 0px;
	color: #0F0F0F;
	margin-top: 64px;
}
.quienes-nosotros-comillas{
	width: 83px;
	height: 101px;
	background: url(../../img/icos/comillas.png) no-repeat;
	background-size: cover;
	margin-right: 59px;
}
.div-clientes{
	width: 50px;
	height: 1px;
	background-color: #0F0F0F;
	opacity: 0.6;
	margin-bottom: 23px;
}
.texto-clientes-nombre{
	font-size: 27px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 800;
	margin: 0px;
	color: #0F0F0F;
	margin-top: 24px;
	margin-bottom: 9px;
}
.text-clientes-subtitle{
	font-size: 18px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 700;
	margin: 0px;
	color: #0F0F0F;
	margin-bottom: 26px;
}
.text-comentario-cliente{
	font-size: 16px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
	color: #0F0F0F;
	width: 578px;
	margin-bottom: 68px;
}
.content-comentario-cliente{
	display: flex;
	justify-content: center;
}
.content-puntos-comentarios{
	display: flex;
	width: 108px;
    margin-left: auto;
    margin-right: auto;
}
.punto-comentario{
	width: 8px;
	height: 8px;
	border: 1px solid #95989A;
	background-color: #95989A;
	border-radius: 100%;
	margin-right: 23px;
}
.punto-comentario.active{
	background-color: #0F0F0F;
}
#ultimo-punto-coment{
	margin-right: 0px;
}
.content-text-clientes{
	display: flex;
	justify-content: center;
	margin-bottom: 41px;
}