.background-who-we-are{
	width: 100%;
	height: 100%;
	position: absolute;
}

.fondo-who-we-are{
	width: 100%;
	/* height: 384px; */
	background: url(../../img/fondos/img-first-quienes-somos.png) no-repeat;
	background-size: cover;
}
.text-title-who-we-are{
	font-size: 46px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	margin: 0px;
	color: #FFFFFF;
	text-transform: uppercase;
	padding-top: 50px;
	margin-bottom: 48px;
}
.quienes-somos-div-text{
	width: 50px;
	height: 1px;
	background-color: rgba(255,255,255, 0.5);
}
.text-quienes-somos-descrip{
	font-size: 18px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
	color: #FFFFFF;
	/* width: 780px; */
}
.segundo-fondo-w-w-a{
	width: 100%;
	/* height: 375px; */
	background-color: #0F0F0F;
	padding-bottom: 5rem;
}
.tercer-fondo-w-w-a{
	width: 100%;
	/* height: 378px; */
	background-color: #0F0F0F;
	background-size: cover;
}
.imagen-w-w-a-tercero{	
	/* max-width: 688px; */
		width: 100%;
    padding-bottom: 60%;
	background: url(../../img/icos/imagen-dron.png) no-repeat;
	background-size: cover;
	/* margin-left: auto; */
	/*margin-right: auto;*/
}
.contenedor-texto-imagen-tercero{
	display: flex;
	max-width: 1200px;
}
.cuarto-fondo-w-w-a{
	width: 100%;
	/* height: 373px; */
	background: url(../../img/fondos/cuarto-fondo-w-w-a.png) no-repeat;
	background-size: cover;
}
.content-descripcion-w-w-a{
	max-width: 1200px;
    margin: 0px auto;
}
.contentedor-titulo{
    max-width: 1200px;
    margin: 0px auto;
}
.content-div-line{
    max-width: 1200px;
    margin: 0px auto;
    margin-bottom: 39px;
}
.icono-estadistica{
	width: 65px;
	height: 65px;
	background: url(../../img/icos/estadistica.png) no-repeat;
	margin-bottom: 19px;
}
.icono-sonido{
	width: 65px;
	height: 65px;
	background: url(../../img/icos/sonido.png) no-repeat;
	margin-bottom: 19px;
}
.icono-video{
	width: 65px;
	height: 65px;
	background: url(../../img/icos/video.png) no-repeat;
	margin-bottom: 19px;
}
.content-iconos-segundo-fond{
	display: flex;
	justify-content: center;
    width: 100%;
}
.div-line-icons{
	width: 50px;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.2);
	margin-bottom: 22px;
}
.texto-icono{
	font-size: 26px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	margin: 0px;
	color: #FFFFFF;
	margin-bottom: 33px;
}
.texto-icono-2{
	font-size: 17px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
	color: #FFFFFF;
	width: 364px;
	text-align: center;
}
.centrar-contenido-iconos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 69px;
}
.otro-margen-left{
	margin-left: auto;
}
.otro-margen-right{
	margin-right: auto;
}
.div-text-line-third{
	width: 50px;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.2);
	margin-left: auto;
	margin-bottom: 44px;
}
.text-third-fond{
	font-size: 30px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 800;
	margin: 0px;
	color: #FFFFFF;
	text-align: right;
	margin-bottom: 37px;
}
.text-descripcion-tercero{
	font-size: 17px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
	color: #FFFFFF;
	text-align: right;
}
.contenedor-texto-third{
	margin-top: 99px;
}
.div-text-line-fourth{
	width: 50px;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.2);
	margin-left: auto;
	margin-bottom: 44px;
}
.text-ideales{
	font-size: 30px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 800;
	margin: 0px;
	color: #FFFFFF;
	text-align: right;
	margin-bottom: 37px;
}
.text-descripcion-cuarto{
	font-size: 14.5px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
	color: #FFFFFF;
	text-align: right;
	/*width: 357px;*/
	max-width: 357px;
}
.contenedor-info-ideales{
	max-width: 1200px;
    padding: 80px 0;
}
.quinto-fondo-w-w-a{
	width: 100%;
	background-color: #FFFFFF;
}
.texto-clientes{
	font-size: 29px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	margin: 0px;
	color: #0F0F0F;
	margin-top: 64px;
}
.quienes-nosotros-comillas{
	width: 83px;
	/* height: 101px; */
	background: url(../../img/icos/comillas.png) no-repeat;
	background-size: cover;
	margin-right: 59px;
}
.div-clientes{
	width: 50px;
	height: 1px;
	background-color: #0F0F0F;
	opacity: 0.6;
	margin-bottom: 23px;
}
.texto-clientes-nombre{
	font-size: 27px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 800;
	margin: 0px;
	color: #0F0F0F;
	margin-top: 24px;
	margin-bottom: 9px;
}
.text-clientes-subtitle{
	font-size: 18px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 700;
	margin: 0px;
	color: #0F0F0F;
	margin-bottom: 26px;
}
.text-comentario-cliente{
	font-size: 16px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
	color: #0F0F0F;
	width: 578px;
	margin-bottom: 68px;
}
.content-comentario-cliente{
	display: flex;
	justify-content: center;
	margin-bottom: 139px;
}
.content-puntos-comentarios{
	display: flex;
	width: 165px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 138px;
}
.punto-comentario{
	width: 8px;
	height: 8px;
	border: 1px solid #95989A;
	background-color: #95989A;
	border-radius: 100%;
	margin-right: 23px;
	cursor: pointer;
}
.punto-comentario.active{
	background-color: #0F0F0F;
}
#ultimo-punto-coment{
	margin-right: 0px;
}
.content-text-clientes{
	display: flex;
	justify-content: center;
	margin-bottom: 41px;
}
.texto-equipo-accion{
	font-size: 29px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	margin: 0px;
	color: #0F0F0F;
	justify-content: center;
    display: flex;
    margin-bottom: 52px;
}
.text-te-interesa{
	font-size: 29px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	margin: 0px;
	color: #0F0F0F;
}
.text-text-interes{
	font-size: 17px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
	color: #95989A;
}
.boton-contacto{
	width: 401px;
	height: 46px;
	background-color: #171717;
	border-radius: 4px;
	display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
    cursor: pointer;
}
.text-boton-contacto{
	font-size: 16px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
	color: #FFFFFF;
}
.contenedor-interes-boton-contacto{
	display: flex;
	justify-content: center;
}
.content-mail-call{
	display: flex;
}
.boton-mail{
	background-color: transparent;
	border: 1px solid #000000;
	border-radius: 4px;
	width: 190px;
	height: 53px;
	margin-right: 17px;
	align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.text-mail-boton{
	font-size: 16px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
	color: #000000;
}
.text-mail-mail{
	font-size: 10px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
	color: #B1B1B1;
}
.boton-llamar{
	background-color: transparent;
	border: 1px solid #000000;
	border-radius: 4px;
	width: 190px;
	height: 53px;
	align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.text-llamar-boton{
	font-size: 16px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
	color: #000000;
}
.text-llamar-llamar{
	font-size: 10px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	margin: 0px;
	color: #B1B1B1;
}
.content-info-interes{
	/* width: 646px; */
}
.linea-larga-quienes-somos{
	width: 100%;
	height: 5px;
	background-color: #EDEDED;
}
/*** Estilos Responsive quienes somos ***/
@media(min-width: 320px) and (max-width: 450px){
	.text-title-who-we-are{
		font-size: 26px;
		margin-bottom: 0px;
	}
	.content-quienes-somos-info{
		width: 280px;
		margin-left: auto;
		margin-right: auto;
	}
	.text-quienes-somos-descrip{
		font-size: 16px;
		width: initial;
	}
	.quienes-somos-div-text{
		width: 40px;
	}
	.centrar-contenido-iconos{
		width: 290px;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 0px;
	    margin-bottom: 20px;
	}
	.otro-margen-left{
		/*margin-left: 0px;*/
		padding-top: 53px;
	}
	.background-who-we-are{
		height: initial;
	}
	.content-iconos-segundo-fond{
		display: block;
	}
	.contentedor-titulo{
		width: 290px;
		margin-bottom: 20px;
	}
	.content-div-line{
		width: 290px;
		margin-bottom: 20px;
	}
	.content-descripcion-w-w-a{
		width: 290px;
	}
	.fondo-who-we-are{
		/* height: 403px; */
	}
	.icono-estadistica{
	    width: 45px;
    	height: 45px;
	    margin-bottom: 8px;
    	background-size: contain;
	}
	.texto-icono{
		font-size: 18px;
		margin-bottom: 13px;
	}
	.div-line-icons{
		width: 40px;
	}
	.texto-icono-2{
		font-size: 13px;
		width: 290px;
	}
	.icono-sonido{
		width: 45px;
    	height: 45px;
    	margin-bottom: 8px;
    	background-size: contain;
	}
	.icono-video{
		width: 45px;
    	height: 45px;
    	margin-bottom: 8px;
    	background-size: contain;
	}
	.segundo-fondo-w-w-a{
		height: 565px;
	}
	.contenedor-texto-imagen-tercero{
		display: block;
	}
	.imagen-w-w-a-tercero{
		/* width: 297px;
    	height: 128px;
    	margin-left: auto;
    	margin-right: auto; */
	}
	.contenedor-texto-third{
		margin-top: 0px;
	}
	.contenedor-texto-third{
		/* width: 280px;
    	margin-left: auto;
    	margin-right: auto; */
	}
	.text-third-fond{
		font-size: 20px;
		margin-bottom: 15px;
	}
	.div-text-line-third{
		width: 40px;
		margin-bottom: 17px;
	}
	.text-descripcion-tercero{
	    font-size: 13px;
	    /* width: 284px; */
	}
	.tercer-fondo-w-w-a{
		/* height: 290px; */
	}
	.contenedor-info-ideales{
		/* width: 280px;
		margin-left: auto;
		margin-right: auto; */
		padding-top: 53px;
	}
	.text-ideales{
		font-size: 26px;
		margin-bottom: 17px;
	}
	.div-text-line-fourth{
		width: 40px;
		margin-bottom: 17px;
	}
	.text-descripcion-cuarto{
		font-size: 16px;
	}
	.cuarto-fondo-w-w-a{
		/* height: 420px; */
	}
	.content-text-clientes{
		display: block;
		margin-bottom: 35px;
	    /* width: 280px; */
	    margin-left: auto;
	    margin-right: auto;
	    padding-top: 53px;
	    justify-content: normal;
	    margin-bottom: 15px;
	}
	.texto-clientes{
		margin-top: 0px;
		font-size: 23px;
	}
	.quienes-nosotros-comillas{
		display: none;
	}
	.content-comentario-cliente{
		display: block;
	    justify-content: center;
	    margin-bottom: 20px;
	    /* width: 280px; */
	    margin-left: auto;
	    margin-right: auto;
	}
	.texto-clientes-nombre{
		font-size: 21px;
	}
	.text-clientes-subtitle{
		font-size: 14px;
	    margin-bottom: 14px;
	}
	.div-clientes{
		width: 40px;
		margin-bottom: 16px;
	}
	.text-comentario-cliente{
		width: initial;
		font-size: 12px;
		margin-bottom: 0px;
	}
	.content-puntos-comentarios{
		/* width: 111px; */
		margin-bottom: 30px;
	}
	.content-nuestro-equipo{
		margin-bottom: 30px;
	}
	.texto-equipo-accion{
		font-size: 24px !important;
		margin-bottom: 0px !important;
	}
	.contenedor-interes-boton-contacto{
	    display: block;
	    /* width: 280px; */
	    margin-left: auto;
	    margin-right: auto;
	}
	.quinto-fondo-w-w-a .content-info-interes{
		/* width: 280px; */
		margin-bottom: 20px;
	}
	.quinto-fondo-w-w-a .text-te-interesa{
		font-size: 23px;
	}
	.quinto-fondo-w-w-a .text-text-interes{
		font-size: 13px;
	}
	.quinto-fondo-w-w-a .boton-contacto{
		width: 100%;
	}
	.quinto-fondo-w-w-a .content-mail-call{
		display: block;
	}
	.quinto-fondo-w-w-a .boton-mail{
		width: 100%;
		height: 40px;
		margin-bottom: 15px;
	}
	.quinto-fondo-w-w-a .boton-llamar{
		width: 100%;
		height: 40px;
	}
	.quinto-fondo-w-w-a{
		/* height: 1070px; */
	}
}