<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="./reset.css">
	<link rel="stylesheet" type="text/css" href="./fuentes.css">
	<link rel="stylesheet" type="text/css" href="./footer.css">
	<title>Reutilizables</title>
</head>
<body>
<!-- CODE START -->

<div>
 	<div class="footer-volartech">
 		<div class="content-footer-info">
 			<div class="content-first-div">
 				<div class="logo-footer-volarteck"></div>
 				<div>
 					<p class="first-div-txt othe-font-size1">Perspectiva desde lo alto</p>
 				</div>
 				<div>
 					<p class="first-div-txt">© 2017 Volartech All Rights Reserved</p>
 				</div>
 				<div class="content-terms-and-conditions">
 					<p class="first-div-txt" id="first-div-txt-margin">Terminos y condiciones</p>
 					<div class="linea-div-terms"></div>
 					<p class="first-div-txt">Politicas de Privacidad</p>
 				</div>
 			</div>
 			<div class="content-second-div">
				<p class="second-div-txt-title">Nuestras líneas</p>
 				<div class="first-line-div"></div>
 				<p class="second-div-txt">Producción</p>
 				<p class="second-div-txt">Construcción</p>
 				<p class="second-div-txt">Ingeniería</p>
 			</div>
 			<div class="content-third-div">
				<p class="third-div-txt-title">Sobre Volartech</p>
 				<div class="second-line-div"></div>
 				<p class="third-div-txt">Quienes Somos</p>
 				<p class="third-div-txt">Nuestro Equipo</p>
 			</div>
 			<div class="content-fourth-div">
				<p class="fourth-div-txt-title">Te interesa?</p>
 				<div class="third-line-div"></div>
 				<p class="fourth-div-txt" id="no-cursor">Contactanos</p>
 				<div class="content-fourth-div-1-image">
 					<div class="logo-mail"></div>
 					<p class="fourth-div-txt">contacto@volartech.com</p>
 				</div>
 				<div class="content-fourth-div-2-image">
 					<div class="logo-whatsapp"></div>
 					<p class="fourth-div-txt">+(57) 317 372 1618</p>
 				</div>
 				<p class="fourth-div-txt">Bogotá, Colombia</p>
 			</div>
 			<div class="content-fifth-div">
 				<p class="fifth-div-txt-title">Siguenos</p>
 				<div class="fifth-line-div"></div>
 				<div class="content-iconos-redes">
 					<div class="logo-facebook"></div>
 					<div class="logo-youtube"></div>
 					<div class="logo-pinterest"></div>
 					<div class="logo-instagram"></div>
 				</div>
 				<p class="fifth-div-txt">@volartechco</p>
 				<p class="fifth-div-txt">#perspectivadesdeloat</p>
 			</div>
 		</div>
 	</div>
</div>
<!-- CODE END -->
</body>
</html>