.card_back{
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_container{
	width: 616px;
    height: 686px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    top: 0px;
    animation-name: animation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes animation {
    from {top: 100vh;}
    to {top: 0px;}
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    width: 100%;
    font-family: 'Fira Sans', sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: transparent;
}
.dropbtn:focus{
    outline: none;
}
.card_back .contenedor-boton-servicios{
    width: 421px;
    margin-left: auto;
    margin-right: auto;
}
.card_back .input-2{
    height: 70px;
}
.card_back .input-1{
    padding-top: 7px;
    padding-bottom: 7px;
}
.card_back .text-tu-informacion{
    margin-top: 30px;
    margin-bottom: 14px;
}
.card_back .content-input-1{
    margin-bottom: 12px;
}
.card_back #otro-margen-mail{
    margin-bottom: 27px;
}
.card_back .content-texarea{
    margin-bottom: 20px;
}
.card_back .fondo-blanco-contacto{
    overflow-y: scroll;
    height: 400px;
}