.footer-volartech{
	width: 100%;
	background-color: #171717;
	/*position: absolute;*/
}
body{
	margin: 0px;
}
.content-footer-info{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	padding: 3rem 1rem;
}
.logo-footer-volarteck{
	background: url(./../img/icos/logo-vol-footer.png) no-repeat;
    width: 47px;
    height: 53px;
    position: relative;
    background-size: cover;
    margin-bottom: 12px;
}
.linea-div-terms{
	background-color: #434343;
	width: 1px;
	height: 14px;
	margin-right: 4px;
}
.first-div-txt{
	font-size: 14px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	color: #434343;
	margin: 0px;
}
.content-terms-and-conditions{
	display: flex;
}
.content-first-div{
	line-height: 16px;
	margin-right: 81px;
}
#first-div-txt-margin{
	margin-right: 4px;
}
.second-div-txt{
	font-size: 14px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	color: #434343;
	margin: 0px;
	cursor: pointer;
}
.first-line-div{
	background-color: #434343;
	width: 29px;
	height: 1px;
	margin-bottom: 18px;
}
.content-second-div{
	line-height: 16px;
	margin-right: 81px;
}
.content-third-div{
	line-height: 16px;
	margin-right: 81px;
}
.third-div-txt{
	font-size: 14px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	color: #434343;
	margin: 0px;
	cursor: pointer;
}
.second-line-div{
	background-color: #434343;
	width: 29px;
	height: 1px;
	margin-bottom: 18px;
}
.content-fourth-div{
	line-height: 16px;
	margin-right: 81px;
}
.fourth-div-txt{
	font-size: 14px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	color: #434343;
	margin: 0px;
	cursor: pointer;
}
.content-fourth-div-1-image{
	display: flex;
	align-items: center;
	margin-bottom: 3px;
}
.content-fourth-div-2-image{
	display: flex;
	align-items: center;
	margin-bottom: 13px;
}
.third-line-div{
	background-color: #434343;
	width: 29px;
	height: 1px;
	margin-bottom: 18px;
}
.othe-font-size1{
	text-transform: uppercase;
}
.fifth-div-txt{
	font-size: 14px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	color: #434343;
	margin: 0px;
	cursor: pointer;
}
.fifth-line-div{
	background-color: #434343;
	width: 29px;
	height: 1px;
	margin-bottom: 18px;
}
.content-fifth-div{
	line-height: 16px;
}
.second-div-txt-title{
	font-size: 14px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600;
	color: #434343;
	margin: 0px;
	margin-bottom: 7px;
}
.third-div-txt-title{
	font-size: 13px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600;
	color: #434343;
	margin: 0px;
	margin-bottom: 7px;
}
.fourth-div-txt-title{
	font-size: 14px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600;
	color: #434343;
	margin: 0px;
	margin-bottom: 7px;
}
.fifth-div-txt-title{
	font-size: 14px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600;
	color: #434343;
	margin: 0px;
	margin-bottom: 7px;
}
#no-cursor{
	cursor: auto;
	margin-bottom: 8px;
}
.logo-mail{
	background: url(./../img/icos/contact-mail.svg) no-repeat;
	width: 23px;
	height: 23px;
	margin-right: 7px;
}
.logo-whatsapp{
	background: url(./../img/icos/contact-whatsapp.svg) no-repeat;
	width: 23px;
	height: 23px;
	margin-right: 7px;
}
.logo-facebook{
	background: url(./../img/icos/icon-facebook.svg) no-repeat;
	width: 23px;
	height: 23px;
	margin-right: 9px;
	cursor: pointer;
}
.logo-youtube{
	background: url(./../img/icos/icon-youtube.svg) no-repeat;
	width: 23px;
	height: 23px;
	margin-right: 9px;
	cursor: pointer;
}
.logo-pinterest{
	background: url(./../img/icos/icon-pinterest.svg) no-repeat;
	width: 23px;
	height: 23px;
	margin-right: 9px;
	cursor: pointer;
}
.logo-instagram{
	background: url(./../img/icos/icon-instagram.svg) no-repeat;
	width: 23px;
	height: 23px;
	cursor: pointer;
}
.content-iconos-redes{
	display: flex;
	margin-bottom: 11px;
}
/** Estilos Responsive footer **/
@media(min-width: 320px) and (max-width: 450px){
	.responsive-footer .footer-volartech{
		height: 700px;
	}
	.responsive-footer .content-footer-info{
		display: block;
		width: 100%
	}
	.responsive-footer{
		display: block;
	}
	.content-first-div{
		width: 289px;
		margin-left: auto;
		margin-right: auto; 
		margin-bottom: 19px;
	}
	.first-div-txt{
		font-size: 12px;
	}
	.logo-footer-volarteck{
	    width: 40px;
    	height: 43px;
	}
	.linea-div-terms{
		height: 12px;
		position: relative;
		top: 2px;
	}
	.content-second-div{
		width: 289px;
		margin-left: auto;
		margin-right: auto; 
		margin-bottom: 13px;
	}
	.content-third-div{
		width: 289px;
		margin-left: auto;
		margin-right: auto; 
		margin-bottom: 13px;
	}
	.content-fourth-div{
		width: 289px;
		margin-left: auto;
		margin-right: auto; 
		margin-bottom: 13px;
	}
	.content-fifth-div{
		width: 289px;
		margin-left: auto;
		margin-right: auto; 
	}
	.second-div-txt-title{
		font-size: 13px;
	}
	.third-div-txt-title{
		font-size: 13px;
	}
	.fourth-div-txt-title{
		font-size: 13px;
	}
	.fifth-div-txt-title{
		font-size: 13px;
	}
	.second-div-txt{
		font-size: 13px;
	}
	.third-div-txt{
		font-size: 13px;
	}
	.fourth-div-txt{
		font-size: 13px;
	}
	.fifth-div-txt{
		font-size: 13px;
	}
	.logo-mail{
	    width: 20px;
    	height: 20px;
	}
	.logo-whatsapp{
		width: 20px;
    	height: 20px;
	}
	.logo-facebook{
		width: 20px;
    	height: 20px;
	}
	.logo-youtube{
		width: 20px;
    	height: 20px;
	}
	.logo-pinterest{
		width: 20px;
    	height: 20px;
	}
	.logo-instagram{
		width: 20px;
    	height: 20px;
	}
	.contentedor-texto-produccion{
		width: 289px;
    	margin: 0 auto;
	}
	.volartech-sub-title2-prod{
		font-size: 24px;
	}
}