.footer-volartech{
	width: 100%;
	height: 241px;
	background-color: #171717;
	/*position: absolute;*/
}
body{
	margin: 0px;
}
.content-footer-info{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	padding-top: 46px;
}
.logo-footer-volarteck{
	background: url(./../img/icos/logo-vol-footer.png) no-repeat;
    width: 47px;
    height: 53px;
    position: relative;
    background-size: cover;
    margin-bottom: 12px;
}
.linea-div-terms{
	background-color: #434343;
	width: 1px;
	height: 14px;
	margin-right: 4px;
}
.first-div-txt{
	font-size: 14px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	color: #434343;
	margin: 0px;
}
.content-terms-and-conditions{
	display: flex;
}
.content-first-div{
	line-height: 16px;
	margin-right: 81px;
	margin-left: auto;
}
#first-div-txt-margin{
	margin-right: 4px;
}
.second-div-txt{
	font-size: 14px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	color: #434343;
	margin: 0px;
	cursor: pointer;
}
.first-line-div{
	background-color: #434343;
	width: 29px;
	height: 1px;
	margin-bottom: 18px;
}
.content-second-div{
	line-height: 16px;
	margin-right: 81px;
}
.content-third-div{
	line-height: 16px;
	margin-right: 81px;
}
.third-div-txt{
	font-size: 14px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	color: #434343;
	margin: 0px;
	cursor: pointer;
}
.second-line-div{
	background-color: #434343;
	width: 29px;
	height: 1px;
	margin-bottom: 18px;
}
.content-fourth-div{
	line-height: 16px;
	margin-right: 81px;
}
.fourth-div-txt{
	font-size: 14px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	color: #434343;
	margin: 0px;
	cursor: pointer;
}
.content-fourth-div-1-image{
	display: flex;
	align-items: center;
	margin-bottom: 3px;
}
.content-fourth-div-2-image{
	display: flex;
	align-items: center;
	margin-bottom: 13px;
}
.third-line-div{
	background-color: #434343;
	width: 29px;
	height: 1px;
	margin-bottom: 18px;
}
.othe-font-size1{
	text-transform: uppercase;
}
.fifth-div-txt{
	font-size: 14px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 300;
	color: #434343;
	margin: 0px;
	cursor: pointer;
}
.fifth-line-div{
	background-color: #434343;
	width: 29px;
	height: 1px;
	margin-bottom: 18px;
}
.content-fifth-div{
	line-height: 16px;
	margin-right: auto;
}
.second-div-txt-title{
	font-size: 14px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600;
	color: #434343;
	margin: 0px;
	margin-bottom: 7px;
}
.third-div-txt-title{
	font-size: 13px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600;
	color: #434343;
	margin: 0px;
	margin-bottom: 7px;
}
.fourth-div-txt-title{
	font-size: 14px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600;
	color: #434343;
	margin: 0px;
	margin-bottom: 7px;
}
.fifth-div-txt-title{
	font-size: 14px;
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600;
	color: #434343;
	margin: 0px;
	margin-bottom: 7px;
}
#no-cursor{
	cursor: auto;
	margin-bottom: 8px;
}
.logo-mail{
	background: url(./../img/icos/contact-mail.svg) no-repeat;
	width: 23px;
	height: 23px;
	margin-right: 7px;
}
.logo-whatsapp{
	background: url(./../img/icos/contact-whatsapp.svg) no-repeat;
	width: 23px;
	height: 23px;
	margin-right: 7px;
}
.logo-facebook{
	background: url(./../img/icos/icon-facebook.svg) no-repeat;
	width: 23px;
	height: 23px;
	margin-right: 9px;
	cursor: pointer;
}
.logo-youtube{
	background: url(./../img/icos/icon-youtube.svg) no-repeat;
	width: 23px;
	height: 23px;
	margin-right: 9px;
	cursor: pointer;
}
.logo-pinterest{
	background: url(./../img/icos/icon-pinterest.svg) no-repeat;
	width: 23px;
	height: 23px;
	margin-right: 9px;
	cursor: pointer;
}
.logo-instagram{
	background: url(./../img/icos/icon-instagram.svg) no-repeat;
	width: 23px;
	height: 23px;
	cursor: pointer;
}
.content-iconos-redes{
	display: flex;
	margin-bottom: 11px;
}